.wrap {
	width: 100%;
	height: 100vh;
	background:
		linear-gradient(var(--accent-color-74), var(--accent-color-74)),
		url("../../../../shared/assets/images/AuthBackground.jpg") center/cover;
}

.main {
	margin: 0px auto;
	height: 100%;
	min-height: 100%;
	padding: 32px;
	max-width: 1592px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 32px;
}

.authCard {
	max-width: 600px;
	width: 100%;
	border-radius: 16px;
	padding: 32px;
	background-color: var(--primary-color-80);
	display: flex;
	flex-direction: column;
}

.logo {
	display: inline-block;
	margin-bottom: 32px;

	& svg {
		width: 486px;
		height: 85px;
		fill: var(--primary-color);

		& path {
			fill: var(--primary-color);
		}
	}
}

.line {
	height: 4px;
	background-color: var(--primary-color);
	margin-bottom: 32px;
}

.description {
	display: inline-block;
	color: var(--primary-color);
	text-align: center;
	width: 100%;
	font-size: 24px;
	font-weight: 300;
}
